@using System.Diagnostics

@{
    var version =
            FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8">
            <div class="card p-5 justify-content-center">
                <h2 class="font-weight-normal">
                    Identity Server
                </h2>

                <p class="font-weight-normal mt-4" style="font-size: 20px;">This service is a centeralized
                    authentication tool. It's used
                    for
                    all of the kurdistan's digital
                    services.
                </p>

                @if (User.Identity.IsAuthenticated == false)
                {
                    <div>
                        <a class="btn btn-primary px-4 font-weight-bold mt-5" asp-controller="Diagnostics"
                            asp-action="Index" role="button">Login</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
