@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display&display=swap');

.bg-blue-custom {
  background-color: #2170b9;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

/* .text-blue-custom {
  color: #2170b9;
} */
