@model LogoutViewModel

<div class="logout-page">
    <div class="lead">
        <h1 class="text-primary">Logout</h1>
        <h4 class="font-weight-light mt-3">Would you like to logout of the IdentityServer?</h4>
    </div>

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <div class="form-group">
            <button class="btn btn-primary mt-4 px-4 font-weight-bold" style="font-size: 1.1rem;">Yes</button>
        </div>
    </form>
</div>
